.article {
  margin-bottom: 60px;
  &__title {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__date {
    font-size: 17px;
    color: #c5c5c5;
    & span {
      font-weight: 700;
      color: #000;
      font-size: 20px;
    }
  }

  &__admin-buttons {
    margin-top: 15px;
    & button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__approve-btn {
    margin-right: 10px;
    background-color: green;
    border: 2px solid green;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: green;
      transition: 0.2s;
    }
  }

  &__delete-btn {
    background-color: red;
    color: #fff;
    border: 2px solid red;
    &:hover {
      background-color: #fff;
      color: red;
      transition: 0.2s;
    }
  }
}
